<p id="notice"><%= notice %></p>

<p>
  <strong>Projection:</strong>
  <%= @price.projection_id %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @price.sport %>
</p>

<p>
  <strong>Date:</strong>
  <%= @price.date %>
</p>

<p>
  <strong>Position:</strong>
  <%= @price.position %>
</p>

<p>
  <strong>Team:</strong>
  <%= @price.team %>
</p>

<p>
  <strong>Player:</strong>
  <%= @price.player %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @price.salary %>
</p>

<p>
  <strong>Site:</strong>
  <%= @price.site %>
</p>

<p>
  <strong>Site:</strong>
  <%= @price.site_id %>
</p>

<p>
  <strong>Salary cap:</strong>
  <%= @price.salary_cap %>
</p>

<p>
  <strong>Format:</strong>
  <%= @price.format %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
