<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @projection.date %>
</p>

<p>
  <strong>Player:</strong>
  <%= @projection.player %>
</p>

<p>
  <strong>Fpts:</strong>
  <%= @projection.fpts %>
</p>

<p>
  <strong>Team:</strong>
  <%= @projection.team %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @projection.opponent %>
</p>

<p>
  <strong>Position:</strong>
  <%= @projection.position %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @projection.cost %>
</p>

<p>
  <strong>Source:</strong>
  <%= @projection.source %>
</p>

<p>
  <strong>Site:</strong>
  <%= @projection.site %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @projection.sport %>
</p>

<%= link_to 'Edit', edit_projection_path(@projection) %> |
<%= link_to 'Back', projections_path %>
